<div class="mat-elevation-z8" [hidden]="data?.length <= 0">
  <table
    mat-table
    [dataSource]="data"
    class="full-width-table"
    aria-label="Elements"
  >
    <!-- Flag Column -->
    <ng-container cdkColumnDef="flag">
      <th mat-header-cell *cdkHeaderCellDef>Flag</th>
      <td mat-cell *cdkCellDef="let element">
        <img
          class="country-flag"
          src="{{ element.flag }}"
          alt="{{ element.name }}"
        />
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container cdkColumnDef="name">
      <th mat-header-cell *cdkHeaderCellDef>Name</th>
      <td mat-cell *cdkCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <!-- Region Column -->
    <ng-container cdkColumnDef="region">
      <th mat-header-cell *cdkHeaderCellDef>Region</th>
      <td mat-cell *cdkCellDef="let element">{{ element.region }}</td>
    </ng-container>

    <!-- Population Column -->
    <ng-container cdkColumnDef="population">
      <th mat-header-cell *cdkHeaderCellDef>Population</th>
      <td mat-cell *cdkCellDef="let element">
        {{ element.population | number }}
      </td>
    </ng-container>

    <!-- Timezones alpha3Code -->
    <ng-container cdkColumnDef="alpha3Code">
      <th mat-header-cell *cdkHeaderCellDef>Alpha3Code</th>
      <td mat-cell *cdkCellDef="let element">{{ element.alpha3Code }}</td>
    </ng-container>

    <tr mat-header-row *cdkHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *cdkRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
