.toolbar-row {
  height: 80px;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.toolbar-logo {
  display: inline;
  width: 36px;
  animation: spin linear 10s infinite;
}

.toolbar-search {
  font-size: 16px;

  &.mat-form-field-appearance-outline .mat-form-field-wrapper{
    margin-bottom: -1.25em;
 }

 .mat-form-field-prefix {
   margin-right: 5px;
 }
}

.toolbar-clear-search-icon {
  cursor: pointer;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
