<mat-toolbar>
    <mat-toolbar-row>
        <form [formGroup]="formGroup">
            <mat-form-field class="example-full-width">
                <mat-label>Search</mat-label>
                <input matInput (keyup)="searchChanged.emit(inputControl.value)" type="text"
                       [formControl]="inputControl"/>
            </mat-form-field>
        </form>
        <span class="toolbar-spacer"></span>
        <img class="toolbar-logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8b/Globe_font_awesome.svg/480px-Globe_font_awesome.svg.png" alt="globe">
    </mat-toolbar-row>
</mat-toolbar>
