.mat-toolbar-row {
  height: 100px;
  mat-search-bar,
  mat-search-bar > .mat-search_icons > mat-icon {
    width: 36px;
    height: 36px;
    font-size: 32px;
  }
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.toolbar-logo {
  display: inline;
  width: 36px;
  animation: spin linear 10s infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
