.mat-toolbar-row {
  height: 100px;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.toolbar-logo {
  display: inline;
  width: 50px;
  animation: spin linear 15s infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
